@{
    ViewData["Title"] = "Home Page";
}


<p>Vælg by</p>
<form asp-controller="Home" asp-action="PostCity">
    <input placeholder="city" name="city" />
    <input placeholder="country code" name="countryCode"/>
    <input placeholder="days" name="days" />
    <button type="submit">Søg</button>
</form>

